html, body {
  height: 100%;
  height: fit-content;
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 888px;
    width: 888px;
  }
}
.navbar {
  border-bottom: solid 2px #02bb9f;;
}

.hash {
  word-break: break-word;
  font-size: 0.8rem;
  line-height: 1;
}

.has-centered {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hero + .section {
  padding-top: 0;
  margin-top: -1rem;
}
